<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form Directives</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

</head>

<body>

    <div class="container">

        <div class="page-header">
            <h1>DevLink 2014 - AngularJS Directives Fundamentals <small>Source Code</small></h1>
            <p>Dave F. Baskin - MIT License</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <div class="row">
                        <div class="col-md-7">
                            <h4>Form Directives - ngClick</h4>
                        </div>
                        <div class="col-md-5 text-right">
                            <a class="btn" href="./">Home</a>

                            <a class="btn" href="form-directives-ng-class.html"><span class="glyphicon glyphicon-arrow-left"></span></a>

                            <a class="btn" href="form-directives-ng-disabled.html"><span class="glyphicon glyphicon-arrow-right"></span></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-controller="formDirectivesCtrl as ctrl">
            <div class="col-md-offset-1 col-md-10">

                <form name="userForm" role="form">
                    <div class="form-group" ng-class="{ 'has-error': userForm.emailAddress.$invalid }">
                        <label for="emailAddress">Email Address:</label>
                        <input type="email" name="emailAddress" id="emailAddress" required class="form-control" placeholder="Enter your email address." ng-model="ctrl.user.emailAddress" />
                        <p class="help-block" ng-show="userForm.emailAddress.$error.required">
                            Email Address is Required.
                        </p>
                        <p class="help-block" ng-show="userForm.emailAddress.$error.email">
                            Email Address is in an invalid form.
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn" ng-click="ctrl.cancelChanges()">
                            Cancel
                        </button>
                        <button type="submit" class="btn" ng-click="ctrl.saveChanges()">
                            Save
                        </button>
                    </div>
                </form>
                <div class="warning">
                    {{ctrl.user.message}}
                </div>

            </div>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.min.js"></script>
    <script>
        (function() {
            var myApp = angular.module('myApp', []);
            var FormDirectivesCtrl = function() {
                this.user = {
                    emailAddress: "some-address@gmail.com",
                    message: ''
                };
            };
            FormDirectivesCtrl.prototype.cancelChanges = function() {
                this.user.message = "You selected the cancel button.";
            };
            FormDirectivesCtrl.prototype.saveChanges = function() {
                this.user.message = "You selected the save button.";
            };
            myApp.controller('formDirectivesCtrl', [FormDirectivesCtrl]);
        })();
    </script>
</body>

</html>